<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/library/jquery/v3.6.0/jquery-3.6.0.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/memo/memodetail.js"></script>
    <title>Title</title>
</head>
<body>
<h1>Memo Detail</h1>
<a href="/memo/list/"><span>목록보기</span></a>

<div>
    <span>======================================================</span>
</div>

<table id="memo_detail_table">
    <thead>
    <tr>
        <td>게시글 조회 # <span id="memoSeq" th:text="${memoSeq}" th:data-id="${memoSeq}"></span></td>
    </tr>
    </thead>
    <tbody id="tbody">
        <tr>
            <td>제목 : <input id="memoTitle"></td>
        </tr>
        <tr>
            <td>내용 : <input id="memoContent"></td>
        </tr>
        <tr>
            <td>작성자 : <input id="memoWriter"></td>
        </tr>
    </tbody>
</table>
<button id="updateButton" type="button">수정</button>
<button id="saveButton" type="button" hidden="true">저장</button>
<button id="deleteButton" type="button">삭제</button>

<div>
    <span>======================================================</span>
</div>

<h4>댓글 작성</h4>
<table>
    <tbody>
    <tr>
        <td>내용: <input id="newCommentContent"></td>
    </tr>
    <tr>
        <td>작성자: <input id="newCommentWriter"></td>
    </tr>
    </tbody>
</table>
<button id="commentSaveButton" type="button">댓글 저장</button>

<div>
    <span>--------------------------------------------------------------------------------</span>
</div>

<h4>댓글</h4>
<table>
    <tbody id="comment-body">

    </tbody>
</table>

<div>
    <span>======================================================</span>
</div>

</body>
</html>