<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/js/library/jquery/v3.6.0/jquery-3.6.0.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/memo/memo.js"></script>
    <title>Title</title>
</head>
<body>
<h1>memo list</h1>
<table id="table">
    <thead>
<!--  todo list    -->
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>내용</td>
        <td>작성자</td>
    </tr>
    </thead>
    <tbody id="tbody">
<!--  todo data bind      -->

    </tbody>
</table>
</body>
</html>